* {
    margin: 0px;
    padding: 0%;
}

.logo {
    margin: auto;
    margin-top: 5%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 35%;
    margin-top: 3%;
}


.todo_header {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #bdbdbd;
}

h1 {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.045em;
    text-align: center;
}

.borderStyleAll {
    padding:30px;
    border: 4px solid white
}

.borderStyleActive {
    padding: 25px;
    border: 4px solid white
}

.borderStyleComplete {
    padding: 10px;
    border: 4px solid white
}

.linkstyle {
    border-bottom: 4px solid #2F80ED;
}

a {
    text-decoration: none;
    color: black;
}

.myFormData {
    border: 1px solid #BDBDBD;
    border-radius: 12px;
    margin-right: 2%;
    padding-left: 2%;
    margin-top: 10px;
    height: 54px;
    width: 72%;
}

input {
    padding-left: 1%;
}

.addButton {
    background-color: #046ef8;
    box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
    border-radius: 1rem;
    border: none;
    color: #FFFFFF;
    margin-top: 10px;
    cursor: pointer;
    width: 20%;
    height: 56px;
}

li {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    display: inline;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="checkbox"] {
    width: 24px;
    vertical-align: bottom;
    height: 24px;
    margin-left: -10px;
    margin-top: 10px;
    border-radius: 4px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
}

input[type=checkbox]:checked+label {
    text-decoration: underline;
    text-underline-offset: -50%;
    text-decoration-skip-ink: none;
}

.tabid:hover {
    cursor: pointer;

}

.hidden {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.deleteBtn {
    margin-left: 70px;
    cursor: pointer;
}

span {
    margin-left: 5px;
    padding-bottom: 10px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
}

.btnDelete {
    margin-right: 0px;
    visibility: hidden;
    text-align: center;
    margin-top: 20px;
    background-color: #EB5757;
    margin-left: 81%;
    cursor: pointer;
    padding: 10px;
    color: white;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    height: 40px;
    border-radius: 4px;
    width: 124px;
}

.deleteText {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 10px;
    bottom: 12.5%;
}

.myFormData:hover {
    border: 1px solid #2F80ED;
    ;
    border-radius: 12px;
}

.addButton:hover {
    background: #2F80ED;
    box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
    border-radius: 12px;
}

#myForm {
    display: flex;
    flex-direction: row;
}

.btnDelete:hover {
    background: #EB5757;
    border-radius: 4px;
}
